[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = {version=">=8.3"}
pytest-asyncio = {version=">=0.25"}
pytest-cov = {version=">=6.0"}
pylint = "*"
pytest-timeouts = {version=">=1.2.1"}
codecov = "*"
pytest-repeat = "*"

[packages]
redis = {version=">=5.2"}

[requires]
python_version = "3"
